.page ul {
	padding-left: 0px;
}

.page li {
	display: flex;
	border: solid 4px #ac4142;
	margin: 8px;
	justify-content: flex-start;
	align-items: center;
}

.page li img {
	margin: 8px;
	float: left;
	width: 32px;
	height: 32px;
}

.page li a {
	height: 32px;
}

.cta {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cta img {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	width: 64px; 
	height: 64px; 
	float: left;
}